language: ruby
sudo: false
cache: bundler
rvm:
  - 1.9.3
  - 2.0.0
  - 2.1.2
  - 2.2.2
gemfile:
  - gemfiles/3.0.gemfile
  - gemfiles/4.0.gemfile
  - gemfiles/4.1.gemfile
  - gemfiles/4.2.gemfile
before_script:
  - mysql -e 'create database polymorpheus_test;'
